{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1 style="text-align: center; color: blue;">{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}<br>
<input style="border: 2px solid black;" type="submit" value="Vote">
</form>
